<!DOCTYPE html >

<head>
    <meta charset="utf-8">
    <title>Demoiselle Signer - Desktop Web Example</title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

    <!-- JS -->
    <script src="./lib.min.js"></script>
    <script src="./app.min.js"></script>

    <!-- CSS -->
    <link href="./app.min.css" rel="stylesheet" type="text/css" />
    <link href="./lib.min.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />

</head>

<html>

<body ng-app="agent" ng-controller="MainController">

    <!--<img src="http://localhost:65256/verify.jpg" id="DesktopClientImage" />-->

    <div class="container">
        <div class="header clearfix">
            <div class="col-md-5 text-center">
                <img src="./image/logo-small.png" class="img-responsive" />
            </div>
            <div class="col-md-7 text-center">
                <h2>Example Project</h2>
                <p style="margin: 0px; padding: 0px;">
                    <b>WebSocket Server is</b> <span ng-show="serverIsOn">ONLINE</span><span ng-show="!serverIsOn">OFFLINE</span>
                </p>
                <span class="glyphicon glyphicon-minus" aria-hidden="true" style="font-size: 30px; color: #C9302C;" ng-show="!serverIsOn"></span>
                <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 30px; color: #449D44;" ng-show="serverIsOn"></span>
            </div>
        </div>

        <div ng-show="!serverIsOn">
            <div class="text-center">
                <!--1. <a href="./agent-desktop-3.0.0-SNAPSHOT.jar">Download Java Program Here</a><br/> 2. Start program (<b>java -jar ./agent-desktop-3.0.0-SNAPSHOT.jar</b>)
                <br/> 3. Acesse o site <a target="blank" href="http://localhost:65056/">http://localhost:65056/</a>-->

                <p>
                    Verify if the App is installed.
                </p>

                <ul class="list-group">
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : supportedBrowser, 'list-group-item-danger' : !supportedBrowser }">
                        <span ng-show="supportedBrowser" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!supportedBrowser" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Supported Browser 
                    </li>
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : desktopInstalled, 'list-group-item-danger' : !desktopInstalled }">
                        <span ng-show="desktopInstalled" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!desktopInstalled" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Application Installed <a href="./serpro-signer.jar">Download for Linux</a>
                    </li>
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : desktopRunning, 'list-group-item-danger' : !desktopRunning }">
                        <span ng-show="desktopRunning" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!desktopRunning" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Application Running
                    </li>
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : desktopEnabled, 'list-group-item-danger' : !desktopEnabled }">
                        <span ng-show="desktopEnabled" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!desktopEnabled" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Security is Enabled <a href="http://localhost:65056/" target="_blank">Click here</a>
                    </li>
                </ul>

            </div>
        </div>

        <div ng-show="serverIsOn">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Sign File</b> <small>Define Text OR File</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-md btn-success" ng-click="signFileWithDefaults()" role="button">Sign File</button>
                </div>
                <div class="col-md-12">
                    <div class="padding" style="margin-top: 10px;" ng-show="fileName">
                        Original File: {{fileName}}
                    </div>
                    <div class="padding" ng-show="signedFileName">
                        Signed File: {{signedFileName}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Validate Signature</b> <small>Validade p7s file with original file</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-md btn-info" ng-click="validate()" role="button">Validate Signature</button>
                </div>
                <div class="col-md-12">
                    <div class="padding" style="margin-top: 10px;" ng-show="validation">
                        {{ validation | json }}
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer text-center" style="margin-top: 20px;">
            <p>SERPRO</p>
        </footer>

    </div>

</body>

</html>
