<!DOCTYPE html >

<head>
    <meta charset="utf-8">
    <title>111 Demoiselle Signer - Desktop Web Example</title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

    <!-- JS -->
    <script src="./lib.min.js"></script>
    <script src="./app.min.js"></script>

    <!-- CSS -->
    <link href="./app.min.css" rel="stylesheet" type="text/css" />
    <link href="./lib.min.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico?v=3" type="image/x-icon" />

    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css" />
</head>

<body ng-app="agent" ng-controller="MainController">

    <div class="container">
        <div class="header clearfix">
            <div class="col-md-5 text-center">
                <img src="./image/logo-small.png" class="img-responsive" />
            </div>
            <div class="col-md-7 text-center">
                <h2>Example Project</h2>
                <p style="margin: 0px; padding: 0px;">
                    <b>WebSocket Server is</b> <span ng-show="serverIsOn">ONLINE</span><span ng-show="!serverIsOn">OFFLINE</span>
                </p>
                <span class="glyphicon glyphicon-minus" aria-hidden="true" style="font-size: 30px; color: #C9302C;" ng-show="!serverIsOn"></span>
                <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 30px; color: #449D44;" ng-show="serverIsOn"></span>
            </div>
        </div>

        <div class="environment">
            <div class="row text-center os">
                <div class="col-md-4">
                    <i class="fa fa-windows" aria-hidden="true" ng-class="{ 'selected' : isWindows }"></i> Windows
                </div>
                <div class="col-md-4">
                    <i class="fa fa-apple" aria-hidden="true" ng-class="{ 'selected' : isMac }"></i> MacOS
                </div>
                <div class="col-md-4">
                    <i class="fa fa-linux" aria-hidden="true" ng-class="{ 'selected' : isLinux }"></i> Linux
                </div>
            </div>
            <div class="row text-center browser">
                <div class="col-md-2">
                    <i class="fa fa-internet-explorer" aria-hidden="true" ng-class="{ 'selected' : isIE }"></i> IE
                </div>
                <div class="col-md-2">
                    <i class="fa fa-edge" aria-hidden="true" ng-class="{ 'selected' : isEdge }"></i> Edge
                </div>
                <div class="col-md-2">
                    <i class="fa fa-firefox" aria-hidden="true" ng-class="{ 'selected' : isFirefox }"></i> Firefox
                </div>
                <div class="col-md-2">
                    <i class="fa fa-chrome" aria-hidden="true" ng-class="{ 'selected' : isChrome }"></i> Chrome
                </div>
                <div class="col-md-2">
                    <i class="fa fa-opera" aria-hidden="true" ng-class="{ 'selected' : isOpera }"></i> Opera
                </div>
                <div class="col-md-2">
                    <i class="fa fa-safari" aria-hidden="true" ng-class="{ 'selected' : isSafari }"></i> Safari
                </div>
            </div>
        </div>

        <div ng-show="!serverIsOn">
            <div class="text-center">
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : desktopInstalledRunning, 'list-group-item-danger' : !desktopInstalledRunning }">
                        <span ng-show="desktopInstalledRunning" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!desktopInstalledRunning" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Application Installed And Running <a ng-show="!desktopInstalledRunning" href="http://assinador.cta.serpro/downloads/">Click here</a>
                    </li>
                    <li class="list-group-item" ng-class="{ 'list-group-item-success' : desktopEnabled, 'list-group-item-danger' : !desktopEnabled }">
                        <span ng-show="desktopEnabled" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span ng-show="!desktopEnabled" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>                        Security is Enabled <a ng-show="desktopInstalledRunning" href="http://127.0.0.1:65056/" target="_blank">Click here</a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show="serverIsOn">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Sign File</b> <small>Define Text OR File</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-md btn-success" ng-click="signFileWithDefaults()" role="button">Sign File</button>
                </div>
                <div class="col-md-12">
                    <div class="padding" style="margin-top: 10px;" ng-show="fileName">
                        Original File: {{fileName}}
                    </div>
                    <div class="padding" ng-show="signedFileName">
                        Signed File: {{signedFileName}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Validate Signature</b> <small>Validade p7s file with original file</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-md btn-info" ng-click="validate()" role="button">Validate Signature</button>
                </div>
                <div class="col-md-12">
                    <div class="padding" style="margin-top: 10px;" ng-show="validation">
                        <pre>{{ validation | json }}</pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer text-center" style="margin-top: 20px;">
            <p>SERPRO</p>
        </footer>

    </div>

</body>

</html>
